.container_fluid{
    background-color: rgb(101, 196, 101);
    height: 300px;
    text-align: center;
    // display: flex;
    // justify-content: center;
    .container{
        width: 100%;
    max-width: 42vw;
    float: right;
    margin-right: 7vw;
    .slider{
        background: white;
        opacity: 0.9;
        padding: 1%;
        border-style: solid;
        border-color: rgb(42, 88, 39);
        border-width: 3px;
        border-top-left-radius: 56px;
        font-size: 1.2vw;
        color: rgb(42, 88, 39);
        position: relative;
    }
    .slider_footer{
        background-color: rgb(42, 88, 39);
        height:50px;
    }
    }
}