#section_id {
    background-image: url(/back.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 230px 30px;
    justify-content: flex-end;

}

.section {
    margin-top: 1.5rem;
    flex-basis: 80%;
    border-radius: 65px 0 0 0;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    .container {
        width: 75%;
        margin-left: 2.4%;
        margin-top: 55px;
        overflow: hidden;

        .card_container {
            width: 100%;
            max-width: 35vw;
            float: right;
            margin-right: 7vw;

            .card {
                background: white;
                opacity: 0.9;
                padding: 1%;
                border-style: solid;
                border-color: rgb(42, 88, 39);
                border-width: 3px;
                border-top-left-radius: 56px;
                color: rgb(42, 88, 39);
                position: relative;

                .card_header {
                    position: relative;
                    padding: 5%;

                    h3 {
                        margin-top: 0;
                        display: block;
                        font-size: 0.9em;
                        font-weight: 800;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 0.8em;

                        b {
                            font-weight: 800;
                        }
                    }
                }
            }

            .card_footer {
                margin: 0;
                text-align: right;
                line-height: 30px;
                color: white;
                position: relative;
                padding: 0.4em 20px 0.4em 0;
                background: rgb(42, 88, 39);

                span {
                    font-size: 15px;
                    font-weight: 600;
                    margin-left: 20px;
                    letter-spacing: 2px;
                }
            }
        }
    }
}