.registerContainer {
  border: 2px solid black;
  width: 500px;
  border-radius: 6px;
  height: auto;
}
.registerHaading {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

.RegisterForm {
  padding: 1rem;
  background-color: #444;
  color: #fff;
}
.inputFiled {
  padding: 0.5rem;
}
.inputField {
  padding: 0.5rem;
  border-radius: 6px;
  width: 100%;
}
.registerBtn {
  border: none;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  width: 100%;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  cursor: pointer;
}
.registerBtn:hover {
  background-color: #fff;
  color: #444;
}
